---
title: Exploring {{ project_name }}
format:
  html:
    code-fold: true
jupyter: python3

```{python}
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_theme("ticks")
```

